<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Index</h1>
    <a href="/signin">signin</a>
    <a href="/signup">signup</a>
</body>
</html>
